:root {
  --color-primary: rgb(18, 18, 18);
  --color-component: rgb(250, 250, 250);
  --color-bg: rgb(255, 255, 255);
  --color-shadow: rgb(237, 237, 237);
  color: var(--color-primary);
  background-color: var(--color-bg);
}

body {
  margin: 10px;
  height: 90vh;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.sidebar {
  grid-area: sidebar;
  height: 70vh;
}

.content {
  grid-area: content;
  height: 70vh;
}

.header {
  grid-area: header;
  height: 5vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header > ul {
  display: flex;
  margin-left: 10%;
  align-items: center;
  height: 100%;
}

.header > ul > li {
  line-height: 2em;
}

.header > ul > li :hover {
  background-color: var(--color-bg);
  transition: ease-in-out 0.15s all;
}

.header > ul > li > a {
  margin: 0 1em;
}

.footer {
  height: 15vh;
  grid-area: footer;
}

.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "header  header  header"
    "content content sidebar"
    "footer  footer  footer";
  background-color: #fff;
  color: var(--color-primary);
  font-size: 120%;
}

.box {
  padding: 10px;
  border: 2px dashed var(--color-component);
}
.header {
  background-color: var(--color-component);
}

.footer {
  background-color: hsla(0, 0%, 93%, 0.5);
}
.action-button {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 100%;
  max-width: 10rem;
}

.action-button:hover {
  box-shadow: 3px 3px #ddd;
}

.action-button:active {
  transition: all 0.7s;
  background-color: white;
}

.auth-page {
  display: grid;
  place-items: center;
}

.auth-form {
  display: flex;
  margin-top: 5rem;
  flex-direction: column;
  height: 50vh;
  width: 50vh;
}

.auth-form > input[type="text"],
input[type="password"] {
  height: 2rem;
  margin-bottom: 40px;
}

.create-todo-form {
  display: flex;
  flex-direction: column;
}

.create-todo-form > :is(textarea, input) {
  min-height: 2rem;
  margin-bottom: 4rem;
}

create-todo-form textarea {
  min-height: 10rem;
}

@media only screen and (max-width: 640px) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "sidebar"
      "content"
      "footer";
  }
  .sidebar {
    height: 20vh;
  }
}
